*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    min-height: 100vh;
    font: optional;font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.4rem;
    

    background-image: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: center bottom ;
    background-size: contain;
   
}

.slider-container {
    display: flex;
    justify-content: center; 
  
    max-width: 1200px;
    /* min-height: 100vh; */
    margin: 0 auto;
    padding: 2rem;
    position: relative;
 }

 .slide {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    
 }


 .testimonials-text  {
   color: hsl(240, 34%, 28%);
   opacity: .8;
   
 }

 .author {
   margin-top: 5rem;
 }  

 .author p {
   text-align: center;
   color: hsl(240, 25%, 3%);
   font-weight: bolder;

 }

 .author span {
    color: hsl(240, 18%, 77%);
    display: block;
    
 }



 .slider-text  {
   margin-top: 2rem;
   

   /* IMG */
   background-image: url(./images/pattern-quotes.svg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: 80px;
  
 }

 .slider-img {
   /* width: 100%;s */
   padding: 4rem; 
   /* IMG */
   background-image: url(./images/pattern-bg.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
 
  
 }
 

 .slider-img img {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }



 .slider-2 {
    display: none;
}


button {
   position: absolute;
   bottom: 440px;
   left:157px;
   display: flex;
   gap: 2rem;
   padding: .66rem;
   background: #fff;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 25px;
   cursor: pointer;
  
}


/* Wide screen */


@media (min-width:960px) {

      
  .slider-container {
     align-items: center;
 }


   .slide {
        flex-direction: row;
     }

     

   .author p {
       text-align: left;
   
     }

    .slider-text  {
        display: flex;
        align-items: center;
        margin: 0;
     
     }


     .slider-text  {
      background-position: 10% 35%; 
      width: 100%;
    }

    .testimonials-text {
       width: 60%;
    }


   .slider-img{
        /* width: 80%; */
        margin-left: -580px;
        z-index: -1;
        
        
  }
  
  .img-size {
     width: 600px;
     border-radius: 1rem;
  }
  

  .author {
      margin-top: 4rem;
    }


  .author span {
      color: hsl(240, 18%, 77%);
      display: inline;
   }


   button {
      bottom: 80px;
      left:600px; 
   }

 
  
}