*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
  
}


body {
    /* min-height: 100vh; */
    font: optional;font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.4rem;
    

    background-image: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: center bottom ;
    background-size: contain;
   
}

.slider-container {
    display: flex;
    justify-content: center; 
    max-width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
 }

 .slide {
    display: flex;
    flex-direction: column-reverse;
    /* position: relative; */
    
 }


 .testimonials-text  {
   color: hsl(240, 38%, 20%);
   opacity: .8;

 }

 .author {
   margin-top: 1rem;
   /* margin-bottom: 0; */
 }  

 .author p {
   text-align: center;
   color: hsl(240, 25%, 3%);
   font-weight: bolder;

 }

 .author span {
    color: hsl(240, 18%, 77%);
    display: block;
 }



 .slider-text  {
   margin-top: 2rem;
   

   /* IMG */
   background-image: url(./images/pattern-quotes.svg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: 80px;
  
 }

 .slider-img {
   /* width: 100%; */
   padding: 4rem;
   /* IMG */
   background-image: url(./images/pattern-bg.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
 
  
 }
 

 .slider-img img {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }



 .slider-2 {
    display: none;
}

.slider-2 {
   /* display: block; */
}

button {
   position: absolute;
   /* top: 20px; */
   bottom: 390px;
   /* right: 20px; */
   left:170px;
   display: flex;
   gap: 2rem;
   padding: .66rem;
   background: #fff;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 25px;
   cursor: pointer;
  
}



@media (min-width:960px) {
      
   
    .slider-container {

      position: relative;
        
     } 


   .slide {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: left;
     }


   .slider-2 {
      display: none;
   }


   .author p {
       text-align: left;
       transition: all ease;
     }

    .slider-text  {
        display: flex;
        /* justify-content: center; */
        align-items: center;
     
     }

   .slider-img {
        width: 90%;
        margin-left: -120px;
        z-index: -1;
     }
   
   .slider-text  {
      background-position: 20% 30%; 
      /* background-size: 100px; */
      /* width: 90%; */
    }

    .author span {
      color: hsl(240, 18%, 77%);
      display: inline;
   }


   button {
      position: absolute;
      /* top: 20px; */
      bottom: 210px;
      /* right: 20px; */
      left:740px;
      display: flex;
      gap: 2rem;
      padding: .66rem;
      background: #fff;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 25px;
      cursor: pointer;
     
   }
  
}